---
import Page from "@layouts/page";
---

<Page title="Photos">
	<h1>Photos</h1>
	<p>
		<img src="/pix/photos/1.jpg">
		<img src="/pix/photos/2.jpg">
		<img src="/pix/photos/3.jpg">
		<img src="/pix/photos/4.jpg">
		<img src="/pix/photos/5.jpg">



	</p>
</Page>
