---
import Page from "@layouts/page";
---

<Page title="Projects">
	<h1>Projects</h1>
	<p>
		<a href="https://www.youtube.com/@stopslowmotion7571" class="btn">My YouTube channel</a>
	</p>
	<p>
		<a href="https://my-store-c4a5bb.creator-spring.com/" class="btn">My spring store</a>
	</p>
	<p>
		<a href="https://orgbox-cefb8.web.app/" class="btn bg-info">Orgbox (not done)</a>
	</p>
	<p>
		
	</p>
</Page>
