<footer class="footer footer-center p-4">
  <div>
    <p class="text-xs text-base-content/70">
      <a class="mr-5" href="https://anb.codes">Anbcodes</a>
      <a href="https://rcbcodes.github.io">Rcbcodes</a>
    </p>
  </div>
</footer>